/*HUD Connection lost*/
.anim-alert-red {
  animation: alert-red 0.6s linear infinite;
}
@keyframes alert-red {
  0% {
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset,
      0px 0px 15px rgba(255, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(255, 0, 0, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset,
      0px 0px 15px rgba(255, 0, 0, 0.9);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset,
      0px 0px 15px rgba(255, 0, 0, 0.1);
  }
}

/*System Error*/
.anim-stepped-blink {
  animation: stepped-blink 0.5s linear infinite;
}
@keyframes stepped-blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}

/*Ping Popup*/
.anim-ping-popup {
  animation-name: ping-popup;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes ping-popup {
  0% {
    scale: 0;
  }
  20% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}

/*Gives a 'fully loaded' or 'ready' flicker*/
.anim-action-blink {
  animation-name: action-blink;
  animation-duration: 0.25s;
  animation-timing-function: linear;
}
@keyframes action-blink {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0.2;
  }
  33% {
    opacity: 1;
  }
  49% {
    opacity: 0.2;
  }
  66% {
    opacity: 1;
  }
  82% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/*Used for "fade out" before removal of pings*/
.anim-shrink-fade {
  animation-name: shrink-fade;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes shrink-fade {
  0% {
    scale: 1;
    opacity: 1;
  }
  80% {
    scale: 0.8;
    opacity: 0.8;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}

/*Quick fades for things like timed actions*/
.anim-quick-shrink-up-fade {
  animation-name: quick-shrink-up-fade;
  animation-duration: 0.1s;
  animation-timing-function: linear;
}
@keyframes quick-shrink-up-fade {
  0% {
    transform: translateY(0px);
    scale: 1;
    opacity: 1;
  }
  80% {
    transform: translateY(-300px);
    scale: 0.8;
    opacity: 0.2;
  }
  100% {
    transform: translateY(-400px);
    scale: 0;
    opacity: 0;
  }
}

/* Used for auto-scrolling a list, duration is set by JS calculated from height vs max-height */
.anim-list-scroll {
  animation-name: list-scroll;
  animation-duration: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes list-scroll {
  0% {
    transform: translateY(25px);
    opacity: initial;
  }
  96% {
    transform: translateY(-100%);
    opacity: initial;
  }
  97% {
    transform: translateY(-100%);
    opacity: 0;
  }
  98% {
    transform: translateY(25px);
    opacity: 0;
  }
  99% {
    transform: translateY(25px);
    opacity: initial;
  }
  100% {
    transform: translateY(25px);
  }
}

.anim-grow {
  animation-name: grow;
  animation-duration: 0.25s;
  animation-timing-function: linear;
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.anim-shrink {
  animation-name: shrink;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
