/*CORE*/
html {
  width: 1280px;
  max-width: 1280px;
  max-height: 1280px;

  height: 720px;
  max-height: 720px;
  min-width: 720px;
  background-color: #fff;
}
body {
  width: 1280px;
  max-width: 1280px;
  max-height: 1280px;

  height: 720px;
  max-height: 720px;
  min-width: 720px;

  margin: 0 !important;
  background-color: #555;

  position: relative;
}

/*FONTS AND IMPORTS*/
@font-face {
  font-family: ArameMonoBold;
  src: url(fonts/arame/ArameMono-Bold.ttf);
}
@font-face {
  font-family: ArameMonoStencil;
  src: url(fonts/arame/ArameMono-Stencil.ttf);
}
@font-face {
  font-family: ArameMonoThin;
  src: url(fonts/arame/ArameMono-Thin.ttf);
}
@font-face {
  font-family: DroidSansMono;
  src: url(fonts/droidsans/DroidSansMono.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/*STYLED COMPONENTS*/
#relative-main-container {
  display: relative;
  height: 720px;
  width: 1280px;
}
#flex-main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#flex-main-container > .big-popup-container:not(:first-child) {
  margin-top: 10px;
}

.big-popup-container {
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 20px;
  border-radius: 10px;
}

.popup-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*Timer loop*/
.popup-row > svg {
  padding-left: 20px;
}

.default-type {
  font-family: "Red Hat Text", sans-serif;
  color: white;
  font-size: 48px;
  text-shadow: 0 0 5px white;
}

#hud-connection-loss {
  font-family: ArameMonoBold;
  position: absolute;
  top: 0px;
  background-color: red;
  color: white;
  padding: 0px 10px;
  border-radius: 2px;
  text-shadow: 0 0 10px white;
  text-align: center;
}

#system-error {
  font-family: ArameMonoThin;
  position: absolute;
  font-size: 40px;
  top: 50%;
  color: rgba(255, 200, 50, 0.9);
  text-shadow: -4px 4px 5px rgba(255, 200, 0, 0.85);
  font-weight: 600;
  text-align: left;
  z-index: 100;
}
#help-container {
  position: absolute;
  font-size: 16px;
  bottom: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.85);
  padding: 2px 5px;
  border-radius: 4px;
  z-index: 0;
  text-align: left;
}
#help-label {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
}
#help-value {
  font-family: "Red Hat Text", monospace;
  font-weight: 600;
  font-size: 18px;
  font-stretch: ultra-expanded;
  background: rgba(50, 50, 50, 0.85);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 3px;
}

#update-container {
  position: absolute;
  font-size: 14px;
  bottom: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.85);
  padding: 2px 5px;
  border-radius: 4px;
  z-index: 0;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 200;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
#update-title-container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
#update-label {
  color: rgba(170, 170, 170, 1);
}
#update-list-container {
  overflow-y: hidden;
  margin-top: 5px;
  max-height: 25px;
  max-width: 250px;
  min-width: 170px;
}

#update-list {
  padding-left: 10px;
  margin: 0;
}
#update-list > li:not(:first-child) {
  padding-top: 10px;
}

#bottom-right-container {
  position: absolute;
  font-size: 10px;
  bottom: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.85);
  padding: 2px 5px;
  border-radius: 4px;
  z-index: 0;
  font-family: DroidSansMono;
  font-weight: 200;
  text-align: right;
  color: rgba(255, 255, 255, 1);
}

#clock-container {
  text-align: center;
  font-size: 14px;
}

#clock-timezone {
  color: rgba(170, 170, 170, 1);
}

#date-version-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

#date-text {
  text-align: left;
}

#date-label {
  color: rgba(170, 170, 170, 1);
}
#version-label {
  color: rgba(170, 170, 170, 1);
}

#hw-stats-container > div {
  display: inline-block;
}

#hw-stats-container > div:not(:first-child) {
  margin-left: 5px;
}

#hw-stats-cpu-temp-label,
#hw-stats-cpu-load-label {
  color: rgba(170, 170, 170, 1);
  /* text-shadow: 0px 0px 3px rgba(200, 200, 200, 0.85); */
  font-weight: 300;
}

#hw-stats-cpu-temp-unit,
#hw-stats-cpu-load-unit {
  margin-left: 1px;
}
