# Project Files
output/
resources/selenium/.browser_profile/
resources/selenium/browser_cookies.json
resources/selenium/*.exe

# Related repos
resources/private
src/ai/
censor/
hud/

# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
src/.env

# mypy
.mypy_cache/

# pyenv
.python-version
